---
---

//
// IMPORTS
//
@import "variables";

.reflex {
  display: inline-flex;
}

article.card {
  background-color: $teaGreen;
  h1 {
    margin: 0;
  }
  margin: .5em;
}

div.pure-g {
  padding: 10px;
}

footer {
  background-color: $dkSlateGray;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  width: 100%;
}

header {
  background-color: $medSkyBlue;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

body {
  background-color: $bodyBg;
}

div.banner {
  background-color: $aubergine;
  height: 100px;
  display: table;
  text-align: center;
  width: 100%;

  h1 {
    color: white;
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    margin-bottom: 0;
  }
}

article.post, article.page {
  background-color: white;
  max-width: 800px;
  h1 {
    margin-top: 0;
  }
}

div.container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

a.pure-menu-link {
  color: $darkGray;
}

article {
  border-radius: 10px;
  padding: 10px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "//unpkg.com/purecss@1.0.0/build/pure-min.css";
@import "//unpkg.com/purecss@1.0.0/build/grids-responsive-min.css";
