
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$greyple: #99AAB5;
$blurple: #7289DA;

// Coolors
$teaGreen: #d9f4C7;
$medSkyBlue: #88d9e6;
$grayBlue: #8b8bae;
$dkSlateGray: #254E70;
$aubergine: #392759;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
